body > #root  {
  height: 100vh;
}

.App {
  width: 50%;
  margin: 0 auto ;
  padding: 100px 0 0 0;
}

input {
  width: 100%;
  font-size: 18px;
  height: 25px;
  margin: 20px 0;
}

button {
  border: none;
  outline:none;
  transition: all .2s ease-in-out;
  padding: none;
}

button[type="submit"]:hover { 
  transform: scale(1.1); 
}